@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@700&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-image: url(../images/pattern-gacc7aba24_1920.jpg);
}
.wrapper {
	min-height: 100vh;
	max-width: 1200px;
	margin: 0 auto;
	background-color: rgba(34, 37, 34, 0.801);
	font-family: 'Montserrat', 'sans-serif';
	color: #fff;
}
ul {
	display: flex;
	list-style: none;
	background-color: rgba(34, 37, 34, 0.726);
}
li {
	margin: 20px 0 20px 0;
	text-align: center;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-basis: 20%;
}
a {
	text-decoration: none;
	color: white;
	padding: 20px 40px;
	font-weight: bold;
}
.firstPage {
	margin: 20px 20px;
	background-image: url(../images/beard-g3ebf5aa80_1280.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/* max-width: 1100px; */
}
.myPhoto {
	height: 600px;
	background-color: rgba(0, 0, 0, 0.767);
}
.icon {
	display: flex;
}
.icon a {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0 100px;
	flex-grow: 1;
}
.forFooter {
	font-size: 50px;
}

.copyright p {
	margin: 20px auto;
	width: 100%;
	text-align: center;
}
