@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@700&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-image: url(../images/pattern-gacc7aba24_1920.jpg);
}
.wrapper {
	min-height: 100vh;
	max-width: 1200px;
	margin: 0 auto;
	background-color: rgba(34, 37, 34, 0.801);
	font-family: 'Montserrat', 'sans-serif';
	color: #fff;
}
ul {
	display: flex;
	list-style: none;
	background-color: rgb(34, 37, 34);
}
li {
	margin: 20px 0 20px 0;
	text-align: center;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-basis: 20%;
}
a {
	text-decoration: none;
	color: white;
}
